:root {
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    display: grid;
    grid-template-rows: auto 1fr;
    background: url('../assets/space-bg.png');
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: right;
    padding: 20px;
    color: aliceblue;
}

.counter-section {
    position: absolute;
    left: 40px;
}

.fight-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
}

.hero-img {
    width: 100px;
    margin-top: 100px;
}

.mobs {
    width: 80px;
}

.mob-item {
    text-align: center;
    color: aliceblue;
    line-height: 4px;
    font-size: 10px;
    padding-bottom: 30px;
}

.mob-style {
    width: 100px;
    margin-right: 40px;
}

.hero-hp {
    color: aliceblue;
}

.game-over {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 300px;
    font-size: 36px;
    color: red;
    font-family: 'Press Start 2P', cursive;
}

.hide {
    display: none;
}

.new-game-button {
    margin-top: 20px;
    width: 200px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}
